includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - packages
        - src
        - tests
    excludes_analyse:
        - */vendor/*
        - tests/App/var/*
    symfony:
        container_xml_path: '%rootDir%/../../../tests/App/var/cache/test/AppTests_App_KernelTestDebugContainer.xml'
