parameters:
    ignoreErrors:
        - # Knp doctrine behaviors not supported by PHPStan correctly
            message: "#^Call to an undefined method Knp\\\\DoctrineBehaviors\\\\Contract\\\\Entity\\\\TranslationInterface\\:\\:#"
            path: .

        - # https://github.com/phpstan/phpstan-strict-rules/issues/130
            message: '#^Call to static method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            path: .

        - # Access to $container
            message: '#^Access to an undefined static property static\(.*\)\:\:\$container\.$#'
            path: .

        - # UserPasswordHasherInterface instanceof will always be true
            message: '#^Instanceof between Symfony\\Component\\PasswordHasher\\Hasher\\UserPasswordHasherInterface and .* will always evaluate to true\.#'
            path: .

        - # UserPasswordEncoderInterface does not exist
            message: '#^Call to method .*\(\) on an unknown class Symfony\\Component\\Security\\Core\\Encoder\\UserPasswordEncoderInterface\.$#'
            path: .

        - # UserPasswordEncoderInterface does not exist
            message: "#^Class Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface not found\\.$#"
            path: .

        - # Else branch is always true
            message: '#^Else branch is unreachable because previous condition is always true\.#'
            path: .

        -
            message: "#^Caught class Symfony\\\\Component\\\\Security\\\\Core\\\\Exception\\\\UsernameNotFoundException not found\\.$#"
            count: 1
            path: packages/user-bundle/src/Controller/ResetPasswordController.php

        -
            message: "#^Instantiated class Symfony\\\\Component\\\\Security\\\\Core\\\\Exception\\\\UsernameNotFoundException not found\\.$#"
            count: 1
            path: packages/user-bundle/src/Security/UserProvider.php

        -
            message: "#^Method Runroom\\\\UserBundle\\\\Security\\\\UserProvider::buildUserNotFoundException\\(\\) should return Symfony\\\\Component\\\\Security\\\\Core\\\\Exception\\\\AuthenticationException but returns Symfony\\\\Component\\\\Security\\\\Core\\\\Exception\\\\UsernameNotFoundException\\.$#"
            count: 1
            path: packages/user-bundle/src/Security/UserProvider.php

        -
            message: "#^Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\PasswordHasher\\\\\\\\Hasher\\\\\\\\UserPasswordHasherInterface' and 'hashPassword' will always evaluate to true\\.$#"
            count: 1
            path: packages/user-bundle/tests/Unit/UserManipulatorTest.php

        -
            message: "#^Parameter \\#2 \\$passwordHasher of class Runroom\\\\UserBundle\\\\Util\\\\UserManipulator constructor expects Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface, \\(PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\)\\|\\(PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\) given\\.$#"
            count: 1
            path: packages/user-bundle/tests/Unit/UserManipulatorTest.php

        -
            message: "#^Property Runroom\\\\UserBundle\\\\Tests\\\\Unit\\\\UserManipulatorTest\\:\\:\\$passwordEncoder has unknown class Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface as its type\\.$#"
            count: 1
            path: packages/user-bundle/tests/Unit/UserManipulatorTest.php

        -
            message: "#^Class Symfony\\\\Component\\\\Security\\\\Core\\\\Exception\\\\UsernameNotFoundException not found\\.$#"
            count: 3
            path: packages/user-bundle/tests/Unit/UserProviderTest.php

        -
            message: "#^Parameter \\#1 \\$exception of method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectException\\(\\) expects class\\-string\\<Throwable\\>, string given\\.$#"
            count: 3
            path: packages/user-bundle/tests/Unit/UserProviderTest.php
