includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - packages
        - src
        - tests
    excludePaths:
        - */vendor/*
        - tests/App/var/*
    symfony:
        container_xml_path: '%rootDir%/../../../tests/App/var/cache/test/Tests_App_KernelTestDebugContainer.xml'
        console_application_loader: ./phpstan-console-application.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
