parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Knp\\\\DoctrineBehaviors\\\\Contract\\\\Entity\\\\TranslationInterface\\:\\:#"
            path: .

        -
            message: "#^Call to an undefined method Faker\\\\UniqueGenerator\\:\\:word\\(\\)\\.$#"
            path: .

        -
            message: "#^Call to an undefined method Faker\\\\UniqueGenerator\\:\\:languageCode\\(\\)\\.$#"
            path: .

        -
            message: "#^Call to an undefined method Faker\\\\UniqueGenerator\\:\\:slug\\(\\)\\.$#"
            path: .

        -
            message: "#^Call to an undefined method Faker\\\\UniqueGenerator\\:\\:url\\(\\)\\.$#"
            path: .

        -
            message: "#^Call to function is_array\\(\\) with array\\<string, non\\-empty\\-string\\> will always evaluate to true\\.$#"
            path: packages/*/src/DependencyInjection/Runroom*Extension.php

        -
            message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
            path: packages/*/src/DependencyInjection/Runroom*Extension.php
