includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - packages
        # - src
        - tests
    excludePaths:
        - */vendor/*
        - tests/App/var/*
    symfony:
        containerXmlPath: '%rootDir%/../../../tests/App/var/cache/test/Tests_App_KernelTestDebugContainer.xml'
        consoleApplicationLoader: ./phpstan-console-application.php
    doctrine:
        objectManagerLoader: ./object-manager.php
    treatPhpDocTypesAsCertain: false
    checkInternalClassCaseSensitivity: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
    checkUninitializedProperties: true
