services:
    _defaults:
        public: false

    Runroom\CkeditorSonataMediaBundle\Controller\MediaAdminController:
        public: true
        arguments:
            $mediaManager: '@sonata.media.manager.media'
            $mediaPool: '@sonata.media.pool'
            $twig: '@twig'

    Runroom\CkeditorSonataMediaBundle\Admin\MediaAdminExtension:
        tags:
            - { name: sonata.admin.extension, target: sonata.media.admin.media }
