name: monorepo

on:
  push:
    branches: [master]

jobs:
  split:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4']
    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer
      - run: composer update --no-interaction --no-progress --prefer-stable
      - run: vendor/bin/monorepo-builder split --max-processes 7
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
