name: split-ci

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4']
        packages:
          - basic-page-bundle
          - ckeditor-sonata-media-bundle
          - cookies-bundle
          - form-handler-bundle
          - redirection-bundle
          - render-event-bundle
          - seo-bundle
          - sortable-behavior-bundle
          - testing
          - translation-bundle
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer:v2
      - run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ matrix.packages }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer-
      - run: cd packages/${{ matrix.packages }} && composer validate --strict
      - run: composer update --no-interaction --no-progress
      - run: vendor/bin/monorepo-builder localize-composer-paths
      - run: cd packages/${{ matrix.packages }} && composer update --no-interaction --no-progress
      - run: cd packages/${{ matrix.packages }} && vendor/bin/phpunit
